@import "./__mixins.scss";
@import "./side-navbar.scss";
@import "./movie-highlights.scss";
@import "./movie-sort.scss";

* {
  font-family: "Istok Web", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  @include for-phone-only {
    background: white;
  }
}
.container {
  width: 1100px;
  margin: auto;
}
.dashboard--container {
  background-color: whitesmoke;
  margin: 5vh 5vh;
  // height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  padding: 0;
  margin: 0;
  @include for-phone-only {
    border: none;
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
}

.highlights {
  height: 100%;
  width: 100%;
  display: flex;
  @include for-phone-only {
    width: auto;
    margin-top: 50px;
    height: 100%;
    text-align: center;
  }
}

.today {
  grid-column: 1 / 5;
  grid-row: 2 / 7;
  padding-top: 20px;
  width: 100%;

  @include for-phone-only {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
  }
}

.logo {
  font-family: "Istok Web", sans-serif;
}

.m {
  color: #003333;
  // color: red;
}
.o {
  color: orange;
}
.v {
  color: red;
}
.i {
  color: skyblue;
}
.e {
  color: springgreen;
}
.s {
  color: #003333;
}
